<template>
  <div class="d-flex flex-column">
    <div class="header">
      <div class="d-flex flex-justify-center">
        <router-link class="title" to="/">{{ schoolName }}</router-link>
      </div>
    </div>
    <div class="d-flex flex-row px-3">
      <span class="classroom-title">STUDENTS OF {{ $route.params.name }}</span>
      <span class="d-flex-fill"></span>
      <router-link :to="{ name: 'student', params: { classroomID: $route.params.id, classroomName: $route.params.name, id: '0' } }">Add Student</router-link>
    </div>
    <div class="d-flex px-3">
      <table id="students">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Print</th>
        </tr>
        <tr v-for="student in students">
          <td>{{ student.id }}</td>
          <td><router-link :to="{ name: 'student', params: { classroomID: $route.params.id, classroomName: $route.params.name, id: student.id } }">{{ student.name }}</router-link></td>
          <td>
            <router-link :to="{ name: 'tc-print', params: { id: student.id, classroom: $route.params } }">TC</router-link>
            <router-link :to="{ name: 'conduct-print', params: { id: student.id, classroom: $route.params} }">Conduct</router-link>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    /* eslint linebreak-style: ["error", "windows"] */
    name: 'classroom-home',
    data() {
      return {
        schoolName: this.$electron.ipcRenderer.sendSync('getSchoolName'),
        students: [],
      };
    },
    mounted() {
      this.students = this.$electron.ipcRenderer.sendSync('listStudents', { stdOfLeaving: { id: this.$route.params.id } });
    },
  };
</script>

<style scoped>
  .classroom-title {
    font-size: 18px;
    font-weight: 800;
    color: midnightblue;
    margin-right: 10px;
  }

  #students {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #students td, #students th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #students tr:nth-child(even){background-color: #f2f2f2;}

  #students tr:hover {background-color: #ddd;}

  #students th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: darkslategrey;
    color: white;
  }
</style>