<template>
    <div class="d-flex flex-column certificate-wrapper">
        <div class="attendance-print-wrapper">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column flex-25">
                    <img class="student-pic" :src="student.pic">
                    <span style="margin-left: 1cm">Admission No : {{ student.admissionNo }}</span>
                </div>
                <div class="d-flex flex-column flex-50 flex-justify-center flex-align-items-center">
                    <span style="font-size: 19px ; font-weight: bold">ST.JOSEPH'S HIGHER SECONDARY SCHOOL</span>
                    <span style="font-size: 17px">PUNNAIKKAYAL - 628152</span>
                </div>
                <div class="d-flex flex-column flex-20" align="right">
                    <img :src="student.pic" class="student-pic">
                </div>
            </div>
            <div class="d-flex flex-row certificate-title flex-justify-center">
                <span style="margin-bottom: 60px">ATTENDANCE CERTIFICATE</span>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row" >
                    <span class="flex-5">1.</span>
                    <span class="flex-45">NAME</span>
                    <span class="flex-10">:</span>
                    <span class="flex-30">{{ student.name }}</span>
                </div>
                <div class="d-flex flex-row" >
                    <span class="flex-5">2.</span>
                    <span class="flex-45">STANDARD</span>
                    <span class="flex-10">:</span>
                    <span class="flex-30">{{ student.stdOfLeaving.name }}</span>
                </div>
                <div class="d-flex flex-row" >
                    <span class="flex-5">3.</span>
                    <span class="flex-45">ACADEMIC YEAR</span>
                    <span class="flex-10">:</span>
                    <span class="flex-30">{{ parseInt(student.yearOfLeaving)-1 }} - {{ student.yearOfLeaving }}</span>
                </div>
                <div class="d-flex flex-row" >
                    <span class="flex-5">4.</span>
                    <span class="flex-45">NO.OF SCHOOL WORKING DAYS</span>
                    <span class="flex-10">:</span>
                    <span class="flex-30">{{ student.sclworkingdays }}</span>
                </div>
                <div class="d-flex flex-row" >
                    <span class="flex-5">5.</span>
                    <span class="flex-45">NO.OF DAYS THE STUDENT ATTENDED</span>
                    <span class="flex-10">:</span>
                    <span class="flex-30">{{ student.attendeddays }}</span>
                </div>
            </div>
            <div class="d-flex flex-row flex-justify-flex-end HM-name"><span>HeadMaster</span></div>
            <div class="footer-date-row">
                <div class="d-flex flex-row">
                    <span class="flex-10">Place</span>
                    <span class="flex-5">:</span>
                    <span class="flex-30">PUNNAIKKAYAL</span>
                    <span class="flex-30"></span>
                </div>
                <div class="d-flex flex-row">
                    <span class="flex-10">Date</span>
                    <span class="flex-5">:</span>
                    <span class="flex-30">{{ formatDate(new Date()) }}</span>
                    <span class="flex-30"></span>
                </div>
            </div>
        </div>
        <div class="break-space"></div>
        <div class="conduct-print-wrapper">
        <div class="d-flex flex-row">
        <div class="d-flex flex-column flex-25">
        <img class="student-pic" :src="student.pic">
        <span style="margin-left: 1cm">Admission No : {{ student.admissionNo }}</span>
        </div>
        <div class="d-flex flex-column flex-50 flex-justify-center flex-align-items-center">
        <span style="font-size: 19px; font-weight: bold">ST.JOSEPH'S HIGHER SECONDARY SCHOOL</span>
        <span style="font-size: 17px">PUNNAIKKAYAL - 628152</span>
        </div>
        <div class="d-flex flex-column flex-20" align="right">
        <img :src="student.pic" class="student-pic">
        </div>
        </div>
        <div class="certificate-title d-flex flex-row flex-justify-center"><span style="margin-bottom: 15px">CONDUCT CERTIFICATE</span></div>
        <div class="d-flex flex-column box" style="padding-left: 2px">
        <pre>     This is to certify that <span class="conduct-box-content-highlights">{{ student.name }}</span> of the <span class="conduct-box-content-highlights">{{ student.stdOfLeaving.name }}</span> was a student of this</pre>
        <pre> institution from <span class="conduct-box-content-highlights">{{ student.yearOfJoining}} - {{ parseInt(student.yearOfJoining) + 1}}</span> to <span class="conduct-box-content-highlights">{{ parseInt(student.yearOfLeaving) - 1}} - {{ student.yearOfLeaving }}</span>.  During the Course of his/her studies</pre>
        <pre> in this institution his/her character and conduct were <span class="conduct-box-content-highlights">{{ student.conduct }}</span>.</pre>
        </div>
        <div class="d-flex flex-justify-flex-end HM-name"><span>HeadMaster</span></div>
        <div class="footer-date-row">
        <div class="d-flex flex-row">
        <span class="flex-10">Place</span>
        <span class="flex-5">:</span>
        <span class="flex-30">PUNNAIKKAYAL</span>
        <span class="flex-30"></span>
        </div>
        <div class="d-flex flex-row">
        <span class="flex-10">Date</span>
        <span class="flex-5">:</span>
        <span class="flex-30">{{ formatDate(new Date()) }}</span>
        <span class="flex-30"></span>
        </div>
        </div>
        </div>
        </div>
</template>
<script>
    export default {
      /* eslint linebreak-style: ["error", "windows"] */
      name: 'conduct-print',
      data() {
        return {
          student: this.$electron.ipcRenderer.sendSync('getStudent', this.$route.params.id),
        };
      },
      mounted() {
        setTimeout(() => {
          window.print();
          this.$router.push({ name: 'classroom', params: this.$route.params.classroom });
        }, 200);
      },
      methods: {
        formatDate: function formatDate(inputDate) {
          /* eslint-disable prefer-template */
          function pad(s) {
            return (s < 10) ? '0' + s : s;
          }
          const d = new Date(inputDate);
          return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
        },
      },
    };
</script>

<style scoped media="print">
    .certificate-wrapper {
        width: 8.5in;
        height: 14in;
        padding: 10px;

    }
    .attendance-print-wrapper {
        border: 1px solid black;
        height: 173mm;
        width: 216mm;
        font-size: 15px;
        padding: 5px;
    }

    .break-space{
        width: 216mm;
        height: 10mm;
    }

    .conduct-print-wrapper {
        border: 1px solid black;
        height: 173mm;
        width: 216mm;
        font-size: 15px;
        padding: 5px;
    }
    .certificate-title {
        font-weight: bold;
        font-size: 17px;
        padding: 10px;
    }

    .conduct-box-content-highlights{
        font-size: 15px;
        font-weight: bold;
    }

    .student-pic {
        height: 100px;
        width: 100px;
    }

    .HM-name{
        font-weight: bold;
        font-size: 18px;
        padding-top: 150px;
        padding-right: 60px;
    }

    .footer-date-row {
        padding-top: 80px;
        font-weight: bold;
        font-size: 16px;
    }

    .box {
        border: 1px solid black;
        height: 40mm;
        width: 215mm;
        border-radius: 10px;
    }
    @media print {
        @page {
            size: legal portrait;
        }
    }
</style>