<template>
  <div v-if="schoolName">
    <div class="header">
      <div class="d-flex container-lg flex-justify-center">
        <router-link class="title" to="/">{{ schoolName }}</router-link>
      </div>
    </div>
    <div class="d-flex flex-row flex-justify-space-around flex-align-items-center classroom-select">
      <router-link :to="{ name: 'classroom', params: classroom }" v-if="classroom.visibility" v-for="classroom in classrooms" :key="classroom.id">{{ classroom.name }}</router-link>
    </div>
  </div>
  <div v-else>
    <div class="header">
      <div class="d-flex container-lg flex-justify-center">
        <span class="title">< -- New School -- ></span>
      </div>
    </div>
    <form class="d-flex flex-column flex-justify-center flex-align-items-center school-input">
      <label for="name">Name of the School</label>
      <input type="text" id="name" v-focus v-bind:value="schoolName" ref="name">
      <input type="submit" v-on:click="submit($event)">
    </form>
  </div>
</template>

<script>
  export default {
    /* eslint linebreak-style: ["error", "windows"] */
    name: 'school',
    data() {
      return {
        schoolName: this.$electron.ipcRenderer.sendSync('getSchoolName'),
        classrooms: [],
      };
    },
    mounted() {
      this.getClassRooms();
    },
    methods: {
      submit: function submit(event) {
        if (event) event.preventDefault();
        this.schoolName = this.$electron.ipcRenderer.sendSync('saveSchoolName', this.$refs.name.value);
        this.getClassRooms();
      },
      getClassRooms: function getSchoolName() {
        if (this.schoolName) {
          this.classrooms = this.$electron.ipcRenderer.sendSync('getClassRooms');
        }
      },
    },
  };
</script>

<style scoped>
  .school-input {
    height: 400px;
    background-color: snow;
  }

  .classroom-select {
    height: 400px;
    background-color: snow;
  }

  .classroom-select > a {
    font-weight: 600;
    font-size: 16px;
    color: #4A36BE;
    text-decoration: none;
  }

  .school-input > label {
    font-weight: bolder;
    font-size: 16px;
    color: #24292e;
  }

  .school-input > input[type=text] {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .school-input > input[type=submit] {
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

</style>