<template>
  <div>
    <div class="header">
      <div class="d-flex container-lg flex-justify-center">
        <router-link class="title" to="/">{{ schoolName }}</router-link>
      </div>
    </div>
    <div class="d-flex flex-column" style="background-color: #e8eef7;">
      <div class="d-flex flex-row flex-justify-center flex-align-items-center">
        <h3>New Student - <span>{{ $route.params.classroomName }}</span></h3>
      </div>
      <div class="d-flex flex-row">
        <div class="d-flex flex-column flex-50 px-3">
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="tc_serial" class="flex-50">TC Serial / TMR Code / Certificate No / EMIS No.</label>
            <input type="text" class="flex-11" id="tc_serial" v-model="student.tcSerial" v-focus>
            <input type="text" class="flex-11" v-model="student.tcTMRCode">
            <input type="text" class="flex-11" v-model="student.tcCertificateNo">
            <input type="text" class="flex-11" v-model="student.emisNo">
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="name" class="flex-50">Name of the Pupil / Reg No.</label>
            <input type="text" class="flex-33" id="name" v-model="student.name">
            <input type="text" class="flex-15" v-model="student.registerNo">
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="parent" class="flex-50">Name of the Father / Mother / Guardian</label>
            <input type="text" class="flex-50" id="parent" v-model="student.parent">
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="nationality" class="flex-50">Nationality / Religion</label>
            <select v-model="student.nationality" class="flex-24" id="nationality">
              <option disabled value="">Please select one</option>
              <option v-for="nationality in nationalities">{{ nationality }}</option>
            </select>
            <select v-model="student.religion" class="flex-24" id="religion">
              <option disabled value="">Please select one</option>
              <option v-for="religion in religions">{{ religion }}</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="caste" class="flex-50">Caste / Community</label>
            <select v-model="student.caste" class="flex-24" id="caste">
              <option disabled value="">Please select one</option>
              <option v-for="caste in castes">{{ caste }}</option>
            </select>
            <select v-model="student.community" class="flex-24" id="community">
              <option disabled value="">Please select one</option>
              <option v-for="community in communities">{{ community }}</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="dob" class="flex-50">Date of Birth / Sex</label>
            <input type="date" class="flex-24" id="dob" v-model="student.dob">
            <select v-model="student.gender" class="flex-24" id="gender">
              <option disabled value="">Please select one</option>
              <option v-for="gender in genders">{{ gender }}</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="pmod" class="flex-50">Personal marks of identification (comma separated)</label>
            <input type="text" class="flex-50" id="pmod" v-model="student.pmod">
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="date_of_admission" class="flex-50">Date of Admission / Admission No.</label>
            <input type="date" class="flex-24" id="date_of_admission" v-model="student.dateOfAdmission">
            <input type="text" class="flex-24" v-model="student.admissionNo">
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group" v-if="$route.params.classroomID === 12">
            <label for="course_offered" class="flex-50">The course offered</label>
            <select v-model="student.courseOffered" class="flex-50" id="course_offered"  @change="onCourseOfferedChange()">
              <option disabled value="">Please select one</option>
              <option v-for="courseOffered in coursesOffered" :value="courseOffered">{{ courseOffered.name }}</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group" v-if="student.courseOffered.name === 'General Education'">
            <label for="general_subject" class="flex-50">The subjects offered under Part III Group A</label>
            <select v-model="student.generalSubject" class="flex-50" id="general_subject">
              <option disabled value="">Please select one</option>
              <option v-for="generalSubject in generalSubjects" :value="generalSubject">{{ generalSubject }}</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group" v-else-if="student.courseOffered.name === 'Vocational Education'">
            <label for="vocational_subject" class="flex-50">The subjects offered under Part III Group B and the related subjects offered under Part III Group A</label>
            <select v-model="student.vocationalSubject" class="flex-50" id="vocational_subject">
              <option disabled value="">Please select one</option>
              <option v-for="vocationalSubject in vocationalSubjects" :value="vocationalSubject">{{ vocationalSubject }}</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="promoted" class="flex-50">Whether qualified for promotion to higher standard</label>
            <select v-model="student.promoted" class="flex-50" id="promoted">
              <option disabled value="">Please select one</option>
              <option>Yes, Promoted</option>
              <option>No</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="scholarship" class="flex-50">Whether the pupil was in receipt of any scholarship</label>
            <select v-model="student.scholarship" class="flex-50" id="scholarship">
              <option disabled value="">Please select one</option>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="workingdays" class="flex-50">No.Of School Working Days/Student Present</label>
            <input type="text" class="flex-24" v-model="student.sclworkingdays">
            <input type="text" class="flex-24" v-model="student.attendeddays">
          </div>
        </div>
        <div class="d-flex flex-column flex-50 px-3">
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="due" class="flex-50">Whether the pupil has paid all the fees due to the School</label>
            <select v-model="student.due" class="flex-50" id="due">
              <option disabled value="">Please select one</option>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="medical_inspection" class="flex-50">Whether the pupil has undergone medical inspection during the last academic year (First or Repeat to be specified)</label>
            <input type="text" class="flex-50" id="medical_inspection" v-model="student.medicalInspection">
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="conduct" class="flex-50">The pupil's conduct and character</label>
            <input type="text" class="flex-50" id="conduct" v-model="student.conduct">
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="tc_request_date" class="flex-50">Date on which application for transfer certificate was made on behalf of the pupil by the parent or guardian</label>
            <input type="date" class="flex-50" id="tc_request_date" v-model="student.tcRequestDate">
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="tc_issue_date" class="flex-50">Date of the transfer certificate / Actual date of leaving</label>
            <input type="date" class="flex-24" id="tc_issue_date" v-model="student.tcIssueDate">
            <input type="date" class="flex-24" v-model="student.dateLeft">
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="year_of_joining" class="flex-50">Year of joining / Standard</label>
            <select v-model="student.yearOfJoining" class="flex-24" id="year_of_joining">
              <option disabled value="">Please select one</option>
              <option v-for="year in years">{{ year }}</option>
            </select>
            <select v-model="student.stdOfJoining" class="flex-24" id="std_of_joining">
              <option disabled value="">Please select one</option>
              <option v-for="classroom in classrooms" :value="classroom">{{ classroom.name }}</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="year_of_leaving" class="flex-50">Year of Leaving / Standard</label>
            <select v-model="student.yearOfLeaving" class="flex-24" id="year_of_leaving">
              <option disabled value="">Please select one</option>
              <option v-for="year in years">{{ year }}</option>
            </select>
            <select v-model="student.stdOfLeaving" class="flex-24" id="std_of_leaving">
              <option disabled value="">Please select one</option>
              <option v-for="classroom in classrooms" :value="classroom">{{ classroom.name }}</option>
            </select>
          </div>
          <div class="d-flex flex-row flex-align-items-center student_form_group">
            <label for="first_language" class="flex-50">First Language / Medium of Instruction</label>
            <select v-model="student.firstLanguage" class="flex-24" id="first_language">
              <option disabled value="">Please select one</option>
              <option v-for="language in languages">{{ language }}</option>
            </select>
            <select v-model="student.mediumOfInstruction" class="flex-24" id="medium_of_instruction">
              <option disabled value="">Please select one</option>
              <option v-for="language in languages">{{ language }}</option>
            </select>
          </div>
          <div class="d-flex flex-column" style="width: 150px; height: 150px;">
            <div class="gallery">
              <img :src="student.pic" alt="pic" width="150" height="150">
            </div>
            <input type="file" name="pic" accept="image/*"  @change="onPicChange($event)">
          </div>
        </div>
      </div>
      <div class="d-flex flex-row px-3 flex-justify-flex-end flex-align-items-center">
        <router-link :to="{ name: 'classroom', params: { id: $route.params.classroomID, name: $route.params.classroomName } }">Go back</router-link>
        <input type="submit" v-on:click="submit($event)">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    /* eslint linebreak-style: ["error", "windows"] */
    name: 'new-student',
    data() {
      return {
        schoolName: this.$electron.ipcRenderer.sendSync('getSchoolName'),
        student: {
          tcSerial: null,
          tcTMRCode: null,
          tcCertificateNo: null,
          sclworkingdays: null,
          attendeddays: null,
          emisNo: null,
          name: null,
          registerNo: null,
          parent: null,
          nationality: '',
          religion: '',
          caste: '',
          community: '',
          dob: null,
          gender: '',
          pmod: null,
          dateOfAdmission: null,
          admissionNo: null,
          courseOffered: '',
          generalSubject: '',
          vocationalSubject: '',
          promoted: '',
          scholarship: '',
          due: '',
          medicalInspection: null,
          dateLeft: null,
          conduct: null,
          tcRequestDate: null,
          tcIssueDate: null,
          yearOfJoining: '',
          stdOfJoining: '',
          yearOfLeaving: '',
          stdOfLeaving: '',
          firstLanguage: '',
          mediumOfInstruction: '',
          pic: './static/pics/sample.jpg',
        },
        nationalities: [],
        religions: [],
        castes: [],
        communities: [],
        genders: [],
        classrooms: [],
        years: [],
        languages: [],
        coursesOffered: [],
        generalSubjects: [],
        vocationalSubjects: [],
      };
    },
    mounted() {
      this.nationalities = this.$electron.ipcRenderer.sendSync('getAllNationality');
      this.religions = this.$electron.ipcRenderer.sendSync('getAllReligion');
      this.castes = this.$electron.ipcRenderer.sendSync('getAllCaste');
      this.communities = this.$electron.ipcRenderer.sendSync('getAllCommunity');
      this.genders = this.$electron.ipcRenderer.sendSync('getAllGender');
      this.classrooms = this.$electron.ipcRenderer.sendSync('getClassRooms');
      this.years = this.$electron.ipcRenderer.sendSync('getAllYear');
      this.languages = this.$electron.ipcRenderer.sendSync('getAllLanguage');
      this.coursesOffered = this.$electron.ipcRenderer.sendSync('getAllCourseOffered');
      this.generalSubjects = this.$electron.ipcRenderer.sendSync('getAllGeneralSubject');
      this.vocationalSubjects = this.$electron.ipcRenderer.sendSync('getAllVocationalSubject');

      if (this.$route.params.id === '0') {
        this.student = {
          tcSerial: null,
          tcTMRCode: null,
          tcCertificateNo: null,
          emisNo: null,
          sclworkingdays: null,
          studentattendeddays: null,
          name: null,
          registerNo: null,
          parent: null,
          nationality: '',
          religion: '',
          caste: '',
          community: '',
          dob: null,
          gender: '',
          pmod: null,
          dateOfAdmission: null,
          admissionNo: null,
          courseOffered: '',
          generalSubject: '',
          vocationalSubject: '',
          promoted: '',
          scholarship: '',
          due: '',
          medicalInspection: null,
          dateLeft: null,
          conduct: null,
          tcRequestDate: null,
          tcIssueDate: null,
          yearOfJoining: '',
          stdOfJoining: '',
          yearOfLeaving: '',
          stdOfLeaving: '',
          firstLanguage: '',
          mediumOfInstruction: '',
          pic: './static/pics/sample.jpg',
        };
      } else {
        this.student = this.$electron.ipcRenderer.sendSync('getStudent', this.$route.params.id);
      }
    },
    methods: {
      onPicChange: function onPicChange(e) {
        if (event) event.preventDefault();
        const files = e.target.files || e.dataTransfer.files;
        if (files.length) {
          this.createImage(files[0]);
        }
      },
      createImage(file) {
        const reader = new FileReader();
        reader.onload = (e) => {
          this.student.pic = e.target.result;
        };
        reader.readAsDataURL(file);
      },
      onCourseOfferedChange() {
        this.student.vocationalSubject = '';
        this.student.generalSubject = '';
      },
      submit: function submit(event) {
        if (event) event.preventDefault();
        this.student = this.$electron.ipcRenderer.sendSync('saveStudent', this.student);
        if (!this.student) {
          return;
        }
        this.$router.push({
          name: 'classroom',
          params: { id: this.$route.params.classroomID, name: this.$route.params.classroomName },
        });
      },
    },
  };
</script>

<style scoped>
  h3 {
    font-size: 18px;
  }

  h3 > span {
    color: darkred;
  }

  .student_form_group {
    margin-bottom: 5px;
  }

  .student_form_group > label {
    font-weight: 600;
    font-size: 15px;
  }

  .student_form_group > input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
    min-width: 0;
  }

  .student_form_group > select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
    min-width: 0;
  }

  input[type=submit] {
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
</style>