<template>
  <div class="d-flex flex-column tc-print-wrapper">
    <div class="d-flex flex-row">
      <div class="d-flex flex-column flex-30">
        <img width="90px" height="90px" :src="student.pic">
        <div class="d-flex flex-row">
          <span class="flex-7"></span>
          <span class="flex-30">Serial No</span>
          <span class="flex-7">:</span>
          <span class="flex-10">{{ student.tcSerial }}</span>
          <span v-if="student.stdOfLeaving.id === 10">/HS</span>
          <span v-else-if="student.stdOfLeaving.id === 12">/HSS</span>
          <span>/ {{ parseInt(student.yearOfLeaving) - 1 }} -{{ student.yearOfLeaving }}</span>
        </div>
     </div>
      <div class="d-flex flex-column flex-40 flex-align-items-center">
        <b style="font-size: 14px">Government of Tamilnadu</b>
        <b style="font-size: 14px">Department of School Education</b>
        <b style="font-size: 16px">TRANSFER CERTIFICATE</b>
        <span>(Recognised by the Director of School Education)</span>
      </div>
      <div class="d-flex flex-column flex-30">
        <div class="d-flex flex-row">
          <span class="flex-40">Register No</span>
          <span class="flex-10">:</span>
          <span class="flex-50">{{ student.registerNo }}</span>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-40">Mark Cert. No</span>
          <span class="flex-10">:</span>
          <span class="flex-50">{{ student.tcCertificateNo }}</span>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-40">T.M.R Code No</span>
          <span class="flex-10">:</span>
          <span class="flex-50">{{ student.tcTMRCode }}</span>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-40">Admission No</span>
          <span class="flex-10">:</span>
          <span class="flex-50">{{ student.admissionNo }}</span>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-40">EMIS No</span>
          <span class="flex-10">:</span>
          <span class="flex-50">1234567891235</span>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-40">Date</span>
          <span class="flex-10">:</span>
          <span class="flex-50">{{ formatDate(new Date()) }}</span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">1.</span>
      <span class="flex-38">(a) Name of the School</span>
      <div class="flex-2 flex-justify-center flex-align-items-center"><span>:</span></div>
      <b class="flex-57">ST.JOSEPH'S HIGHER SECONDARY SCHOOL, PUNNAIKKAYAL- 628151</b>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3"></span>
      <span class="flex-38">(b) Name of the Educational District</span>
      <div class="flex-2 flex-justify-center flex-align-items-center"><span>:</span></div>
      <span class="flex-57">THOOTHUKUDI</span>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3"></span>
      <span class="flex-38">(c) Name of the Revenue District</span>
      <div class="flex-2 flex-justify-center flex-align-items-center"><span>:</span></div>
      <span class="flex-57">THOOTHUKUDI</span>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">2.</span>
      <span class="flex-38">Name of the pupil(in Block Letters)</span>
      <div class="flex-2 flex-justify-center flex-align-items-center"><span>:</span></div>
      <span class="flex-57"><b>{{ student.name}}</b></span>
    </div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column flex-75">
        <div class="d-flex flex-row">
          <span class="flex-5">3.</span>
          <span class="flex-64">Name of the Father / Mother of the pupil</span>
          <span class="flex-3">:</span>
          <span class="flex-54">{{ student.parent }}</span>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-5">4.</span>
          <span class="flex-64">Nationality & Religion</span>
          <span class="flex-3">:</span>
          <span class="flex-54">{{ student.nationality }} - {{ student.religion }}</span>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-5">5.</span>
          <span class="flex-64">Caste & Community</span>
          <span class="flex-3">:</span>
          <span class="flex-54">{{ student.caste }} - {{ student.community }}</span>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-5">6.</span>
          <span class="flex-64">Sex</span>
          <span class="flex-3">:</span>
          <span class="flex-54">{{ student.gender }}</span>
        </div>
        <div class="d-flex flex-row" style="margin-bottom: 0">
          <span class="flex-5">7.</span>
          <span class="flex-64">Date of birth as entered in  the Admission Register</span>
          <div class="flex-3 flex-justify-center flex-align-items-center"><span>:</span></div>
          <span class="flex-54"><b>{{ formatDate(student.dob) }}</b>({{ dateToWord(student.dob)}})</span>
        </div>
      </div>
      <div class="d-flex flex-column flex-25"><img width="80px" height="100px" :src="student.pic"/></div>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">8.</span>
      <span class="flex-38">Personal marks of Identification</span>
      <div class="flex-2 flex-justify-center flex-align-items-center"><span>:</span></div>
      <div class="flex-57 d-flex flex-column">
        <span v-for="element in student.pmod.split(',')">{{ element }}</span>
      </div>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">9.</span>
      <span class="flex-38">Date of Admission and standard in which admitted (the year to be entered in words)</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57"><b>{{ formatDate(student.dateOfAdmission) }}</b></span>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">10.</span>
      <span class="flex-38">Standard in which the pupil was studying at the time of leaving (in words)</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57">{{ student.stdOfLeaving.name }} - {{ student.stdOfLeaving.nameInWords}}</span>
    </div>
    <div v-if="student.stdOfLeaving.id === 12">
      <div class="d-flex flex-row">
        <span class="flex-3">(a)</span>
        <span class="flex-38">The course offered i.e. General Education or Vocational Education</span>
        <div class="flex-2 "><span>:</span></div>
        <span class="flex-57">{{ student.courseOffered.name }}</span>
      </div>
      <div class="d-flex flex-row" style="margin-bottom: 0">
        <span class="flex-3">(b)</span>
        <span class="flex-38">In the Case of General Education the Subject offered under Part III Group A and Medium of Instruction</span>
        <div class="flex-2 "><span>:</span></div>
        <span class="flex-57">{{ student.generalSubject }}</span>
      </div>
      <div class="d-flex flex-row" style="margin-bottom: 0">
        <span class="flex-3">(c)</span>
        <span class="flex-38">In the case of Vocational Education the vocational Subject under Part III Group B and the related subject offered under Part III Group A</span>
        <div class="flex-2 "><span>:</span></div>
        <span class="flex-57">{{ student.vocationalSubject }}</span>
      </div>
      <div class="d-flex flex-row">
        <span class="flex-3">(d)</span>
        <span class="flex-38">Language offered under Part-I</span>
        <div class="flex-2 "><span>:</span></div>
        <span class="flex-57">{{ student.firstLanguage }}</span>
      </div>
      <div class="d-flex flex-row">
        <span class="flex-3">(e)</span>
        <span class="flex-38">Medium of study</span>
        <div class="flex-2 "><span>:</span></div>
        <span class="flex-57">{{ student.firstLanguage }}</span>
      </div>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">11.</span>
      <span class="flex-38">whether qualified for promotion to higher Standard</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57"><b>{{ student.promoted }}</b></span>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">12.</span>
      <span class="flex-38">whether the pupil has paid all the fees due to the School?</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57">{{ student.due }}</span>
    </div>
    <div class="d-flex flex-row" style="margin-bottom: 0" >
      <span class="flex-3">13.</span>
      <span class="flex-38">whether the pupil was in receipt of any scholarship?(Nature of the scholarship to be specified)</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57">{{ student.scholarship }}</span>
    </div>
    <div class="d-flex flex-row" style="margin-bottom: 0;">
      <span class="flex-3">14.</span>
      <span class="flex-38">whether the pupil has undergone medical inspection during the last academic year (first or repeat to be specified)</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57">{{ student.medicalInspection }}</span>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">15.</span>
      <span class="flex-38">Date on which the pupil actually left the school</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57">{{ formatDate(student.dateLeft) }}</span>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">16.</span>
      <span class="flex-38">The pupil's conduct and character</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57">{{ student.conduct }}</span>
    </div>
    <div class="d-flex flex-row" style="margin-bottom: 0">
      <span class="flex-3">17.</span>
      <span class="flex-38">Date on which application for transfer certificate was made on behalf of the pupil by the parent or guardian</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57">{{ formatDate(student.tcRequestDate) }}</span>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">18.</span>
      <span class="flex-38">Date of the Transfer Certificate</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57">{{ formatDate(student.tcIssueDate) }}</span>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">19.</span>
      <span class="flex-38">Course of study</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57"></span>
    </div>
    <div class="d-flex flex-column">
      <div class=" d-flex flex-row">
        <span class="flex-3"></span>
        <div class="flex-97">
          <table class="table">
            <tr align="center">
              <td>Name of the School</td>
              <td>Academic year(s)</td>
              <td>Standard(s)Studied</td>
              <td>First Language</td>
              <td>Medium of instruction</td>
            </tr>
            <tr align="center">
              <td><b>ST.JOSEPH'S HIGHER SECONDARY SCHOOL, PUNNAIKKAYAL- 628151</b></td>
              <td align="center"><p style="margin: 0">{{ student.yearOfJoining}} - {{ parseInt(student.yearOfJoining) + 1 }}</p> <p style="margin: 0">to</p>
                  <p style="margin: 0">{{ parseInt(student.yearOfLeaving) - 1 }} - {{ student.yearOfLeaving }}</p></td>
              <td align="center">{{ student.stdOfJoining.name }} - {{ student.stdOfLeaving.name}}</td>
              <td>{{ student.firstLanguage }}</td>
              <td>{{ student.mediumOfInstruction }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <span class="flex-3">20.</span>
      <span class="flex-38">Signature of the Headmaster with date and school seal</span>
      <div class="flex-2 "><span>:</span></div>
      <span class="flex-57"></span>
    </div>
    <br>
    <br>
    <br>
    <div v-bind:class="[student.stdOfLeaving.id === 10 ? 'morg-top-4cm' : '']">
        <div class="d-flex flex-row">
          <span class="flex-3"></span>
          <b class="flex-38"><u>Declaration of the Parent / Guardian</u></b>
          <span class="flex-2"></span>
          <span class="flex-57"></span>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-3"></span>
          <span class="flex-97">I hereby declare that the particulars recorded against items 2 to 7 are correct and no change will be demanded by me in future.</span>
        </div>
        <div align="center">
          <br>
          <b style="font-size: 16px">Office Copy</b>
        </div>
        <div class="d-flex flex-row">
          <span class="flex-3"></span>
          <span class="flex-38"><b>Signature of the Student</b></span>
          <span class="flex-59 d-flex flex-justify-flex-end">
        <b>Signature of the parent / Guardian</b>
        </span>
        </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable semi */

  export default {
    /* eslint linebreak-style: ["error", "windows"] */
    data() {
      return {
        student: this.$electron.ipcRenderer.sendSync('getStudent', this.$route.params.id),
      };
    },
    name: 'tc-print',
    mounted() {
      setTimeout(() => {
        window.print();
        this.$router.push({ name: 'classroom', params: this.$route.params.classroom });
      }, 200);
    },
    methods: {
      formatDate: function formatDate(inputDate) {
        /* eslint-disable prefer-template */
        function pad(s) { return (s < 10) ? '0' + s : s; }
        const d = new Date(inputDate);
        return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
      },
      dateToWord: function dateToWord(date) {
        const dateString = this.formatDate(date);
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        const numbers = ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 'Eleven', 'Twelve', 'Thirteen', 'Fourteen', 'fifteen', 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen', 'Twenty', 'Twentyone', 'Twentytwo', 'Twentythree', 'Twentyfour', 'Twentyfive', 'Twentysix', 'Twentyseven', 'Twentyeight', 'Twentynine', 'Thirty', 'Thirtyone', 'Thirtytwo', 'Thirtythree', 'Thirtyfour', 'Thirtyfive', 'Thirtysix', 'Thirtyseven', 'Thirtyeight', 'Thirtynine', 'Fourty', 'Fourtyone', 'Fourtytwo', 'Fourtythree', 'Fourtyfour', 'Fourtyfive', 'Fourtysix', 'Fourtyseven', 'Fourtyeight', 'Fourtynine', 'Fifty', 'Fiftyone', 'fiftytwo', 'fiftythree', 'fiftyfour', 'fiftyfive', 'fifitysix', 'fiftyseven', 'fiftyeight', 'fiftynine', 'sixty', 'sistyone', 'sistytwo', 'sisxtythree', 'sisxtyfour', 'sixtyfive', 'sixtysix', 'sixtyseven', 'sisxtyeight', 'sisxtynine', 'seventy', 'seventyone', 'seventytwo', 'seventythree', 'seventyfour', 'seventyfive', 'seventysix', 'seventyseven', 'seventyeight', 'seventynine', 'eighty', 'eightyone', 'eightytwo', 'eightythree', 'eightyfour', 'eightyfive', 'eightysix', 'eightyseven', 'eightyeight', 'eightynine', 'Ninety', 'Ninetyone', 'Ninetytwo', 'Ninetythree', 'Nintyfour', 'Ninetyfive', 'Ninetysix', 'Ninetyseven', 'Ninetyeight', 'Ninetynine'];
        const arr = dateString.split('/');
        let hundreds = arr[2].substr('', 2)
        let tens = arr[2].substr(2);
        if (hundreds === '19') {
          hundreds = 'Nineteen';
        } else if (hundreds === '20') {
          hundreds = 'Two Thousand'
        }

        if (tens === '00') {
          tens = '';
        } else {
          tens = numbers[Number(tens) - 1];
        }
        return numbers[Number(arr[0]) - 1] + ' ' + months[Number(arr[1]) - 1] + ' ' + hundreds + ' ' + tens;
      },
    },
  };
</script>

<style scoped media="print">
  .tc-print-wrapper {
    font-size: 13px;
  }

  .table {
      border-collapse: collapse ;
  }

  td,th {
      border: 1px solid black;
  }

  @media print {
    @page {
      size: legal portrait;
      margin: 15px;
    }
  }
  .morg-top-4cm{
    margin-top: 4cm;
  }

</style>
