/*Cascaded Style Sheet*/

.d-flex {
    display: flex !important;
}

.d-flex-fill {
    flex: 1 !important;
}
.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}

.flex-5 {
    flex: 5 !important;
}
.flex-6 {
    flex: 6 !important;
}

.flex-7 {
    flex: 7 !important;
}

.flex-8 {
    flex: 8 !important;
}

.flex-9 {
    flex: 9 !important;
}

.flex-10 {
    flex: 10 !important;
}

.flex-11 {
    flex: 11 !important;
}

.flex-15 {
    flex: 15 !important;
}

.flex-16 {
    flex: 16 !important;
}

.flex-20 {
    flex: 20 !important;
}

.flex-24 {
    flex: 24 !important;
}

.flex-25 {
    flex: 25 !important;
}

.flex-27 {
    flex: 27 !important;
}

.flex-30 {
    flex: 30 !important;
}

.flex-32 {
    flex: 32 !important;
}

.flex-33 {
    flex: 33 !important;
}

.flex-35 {
    flex: 35 !important;
}

.flex-38 {
    flex: 38 !important;
}

.flex-39 {
    flex: 39 !important;
}

.flex-40 {
    flex: 40 !important;
}

.flex-42 {
  flex: 42 !important;
}

.flex-45 {
    flex: 45 !important;
}

.flex-50 {
    flex: 50 !important;
}

.flex-54 {
    flex: 54 !important;
}

.flex-57 {
    flex: 57 !important;
}

.flex-59 {
    flex: 59 !important;
}

.flex-60 {
    flex: 60 !important;
}

.flex-61 {
    flex: 61 !important;
}

.flex-62 {
    flex: 62 !important;
}

.flex-63 {
    flex: 63 !important;
}

.flex-64 {
    flex: 64 !important;
}


.flex-65 {
    flex: 65 !important;
}

.flex-70 {
    flex: 70 !important;
}

.flex-75 {
    flex:75 !important;

}

.flex-97 {
    flex: 97 !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-align-items-center {
    align-items: center !important;
}

.flex-justify-center {
    justify-content: center !important;
}

.flex-justify-space-around {
    justify-content: space-around !important;
}

.flex-justify-flex-end {
    justify-content: flex-end !important;
}

.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

.fill-height {
    height: 100%;
}

[v-cloak] {
    display: none;
}

.header {
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}

.table {
    border-collapse: collapse;
}

.title {
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    color: snow;
}
