<template>
  <div id="app" v-cloak style="width: 100%; height: 100%">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'school-sendoff',
  };
</script>

<style>

  html{
    height: 100%;
    width: 100%;
  }

  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    word-wrap: break-word;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  [v-cloak] {
    display:none;
  }
</style>
